<app-titre titre= "Gestion des documents" vignette="Liste" ></app-titre>

<br>
<a class="btn btn-primary" [routerLink]="['/Documents/Add']">+ Ajouter un document</a>
<br><br>
<form class="d-flex">
    <input class="form-controle me-2" type="search" placeholder="Search" name ="search" [(ngModel)]="searchText" aria-label="search"/>
</form>
<br>
<table class="table-stringed table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Nom</th>
            <th>Catégorie</th>
            <th>Modifier</th>
            <th>Supprimer</th> 
        </tr>
    </thead>   
    <tbody>
        <tr *ngFor="let elem of liste | filter : searchText ; let i=index ">
            <th>{{i+1}}</th>
            <th>{{elem.nom}}</th>
            <th>{{elem.categorie}}</th>
            <th><button class="btn btn-warning btn-sm"[routerLink]="['/Documents/update/'+elem.id]">Modifier</button></th>
            <th><button (click)="delete(elem.id)" class="btn btn-danger btn-sm">Supprimer</button></th>
        </tr>
    </tbody>
</table>